/laporan.pdf
laporan.pdf

/autorun.bat
autorun.bat

/desain sistem.zip
desain sistem.zip

/desain sistem
desain sistem

/.idea
.idea

/templates
templates

/vendor/

/desain interface.pdf
desain interface.pdf